<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.binfan.basicStructure.examples">

    <application>

        <activity android:name=".appbar.ownedbyactivity.AppbarExampleActivity" />

        <activity android:name=".appbar.ownedbyfragment.AppbarExample2Activity" />

    </application>
</manifest>